services:
    router:
        setup:
            - ['Kdyby\Config\Configurator','configureDefaultRouter']

    cms_headerControl:
        class: Kdyby\Components\Header\HeaderControl
        arguments: [@application, @assetic_formulaeManager, @httpRequest]

factories:
    cms_headerControl_macro:
        class: Kdyby\Components\Header\HeadMacro
        factory: Kdyby\Components\Header\HeadMacro::install
        arguments: ['%parser%']
        parameters: [parser]
