includes:
    - config.neon


nette:
    application:
        debugger: TRUE
    routing:
        debugger: TRUE
    security:
        debugger: TRUE
    container:
        debugger: TRUE


dbal:
    path: %appDir%/data/database.sqlite
    driver: pdo_sqlite
