services:
    route.examples:
        class: Nette\Application\Routers\Route('examples/<presenter>/<action>', {module: AppExamplePackage, presenter: Homepage, action: default})
        autowired: FALSE
        tags: {route: {priority: 3}}

    route.default:
        class: Nette\Application\Routers\Route('<presenter>/<action>', 'Homepage:default')
        autowired: FALSE
        tags: {route: {priority: 2}}

    route.index:
        class: Nette\Application\Routers\Route('index.php', 'Homepage:default', 1)
        autowired: FALSE
        tags: {route: {priority: 1}}


php:
    date.timezone: Europe/Prague
