<!DOCTYPE html>
<html>
{head title => "Nette Application Skeleton"}
    <meta name="description" content="Nette Framework web application skeleton">
    {stylesheet 'css/bootstrap.min.css', 'css/jquery-ui.css', 'css/screen.css', media => "screen,projection,tv"}
    {javascript 'js/jquery.min.js', 'js/jquery-ui.min.js', '@FrameworkPackage/js/jquery.nette.js',
        '@FrameworkPackage/js/netteForms.js', '@FrameworkPackage/js/class.js', 'js/bootstrap.min.js', 'js/main.js' /}
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    {block head}{/block}
{/head}
<body>
    <script> document.body.className+=' js' </script>

    <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

    {include #content}
    {control head:scripts}
</body>
</html>
