<!DOCTYPE html>
<html>
{head title => "Nette Application Skeleton"}
    <meta name="description" content="Nette Framework web application skeleton">
    {stylesheet 'css/screen.css', media => "screen,projection,tv"}
    {stylesheet 'css/print.css', media => "print"}
    {javascript 'http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'}
    {javascript 'js/netteForms.js'}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
	{block head}{/block}
{/head}
<body>
	<script> document.body.className+=' js' </script>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	{include #content}
</body>
</html>
