{block content}
<div id="banner">
	<h1>Entity form adding test</h1>
</div>

<div id="content">

    {form addForm}
        {label name}Přidat root{/label}
        {input name}
        {input daddy}
        {input add}
    {/form}


    {control items}

</div>
